@model ArchiveInfrastructure.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="bg-white blur-box p-4 rounded shadow">
                <h2 class="text-center mb-4">Реєстрація користувача</h2>

                <form asp-action="Register" method="post">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(m => m.FullName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(m => m.ReaderCardNumber, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ReaderCardNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ReaderCardNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(m => m.PasswordConfirm, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="d-flex justify-content-center gap-3 mt-4">
                        <button type="submit" class="btn btn-outline-danger btn-animated">Зареєструватися</button>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-primary btn-animated">Увійти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
